@model IEnumerable<Rx_Tracker_v3.Patient>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatientFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientBirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientEnteredDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientEmail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ToList())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientBirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientEnteredDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientEmail)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PatientID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PatientID">Details</a> |
                    <a asp-action="PatientRx" asp-route-id="@item.PatientID">RX List</a> |
                    <a asp-action="Disable" asp-route-id="@item.PatientID">Disable</a> |
                    <a asp-controller="Prescriptions" asp-action="Index" asp-route-id="@item.PatientID">RX List Test</a>

                </td>
            </tr>
        }
    </tbody>
</table>
