@model IEnumerable<Rx_Tracker_v3.Prescription>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-controller="Prescriptions" asp-action="Create">Create New Prescription</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               @* @Html.DisplayNameFor(model => model.PrescriptionName)*@
                Rx Name
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.PrescriptionPatientTrackingNumber)*@
                Indv ID
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.PrescriptionRefillRemaining) *@
                Rem Refill
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.PrescriptionPillQuantityRemaining)*@
                Rem Qty
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.PrescriptionPillDose)*@
                Dose
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.PrescriptionExpireDate)*@
                Expire Date
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.PrescriptionNextRefillEnableDate)*@
                Refill Enable Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrescriptionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrescriptionPatientTrackingNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrescriptionRefillRemaining)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrescriptionPillQuantityRemaining)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrescriptionPillDose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrescriptionExpireDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrescriptionNextRefillEnableDate)
            </td>
            <td>
                <a asp-action="Dose" asp-route-id="@item.PrescriptionID">Take Dose</a> |

                @if (item.PrescriptionNextRefillEnableDate < DateTime.Now)
                {
                    <a asp-action="Refill" asp-route-id="@item.PrescriptionID">Refill</a> @: |
                }

                <a asp-action="Edit" asp-route-id="@item.PrescriptionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PrescriptionID">Details</a>@*|
                <a asp-action="Delete" asp-route-id="@item.PrescriptionID">Delete</a> |*@
            </td>
        </tr>
}
    </tbody>
</table>
