@model IEnumerable<Rx_Tracker_v3.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*Html.DisplayNameFor(model => model.TransactionID) *@
                ID
            </th>
            <th>
                @*Html.DisplayNameFor(model => model.TransactionAction) *@
                Logged Action
            </th>
            <th>
                @*Html.DisplayNameFor(model => model.TransactionEntryDateTime) *@
                Action Date Time
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionIDType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionPatientID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionAction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionEntryDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionIDType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionPatientID)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.TransactionID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
